
	.-outer:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-outer-hover.svg)
	}

	.-tops:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-tops-hover.svg)
	}

	.-bottoms:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-bottoms-hover.svg)
	}

	.-dress:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-dress-hover.svg)
	}

	.-roomwear:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-roomwear-hover.svg)
	}

	.-inner:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-inner-hover.svg)
	}

	.-goods:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-goods-hover.svg)
	}

	.-baby:hover .l-navigation_icon {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-baby-hover.svg)
    }
    




    .-outer.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-outer-active.svg)
	}

	.-tops.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-tops-active.svg)
	}

	.-bottoms.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-bottoms-active.svg)
	}

	.-dress.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-dress-active.svg)
	}

	.-roomwear.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-roomwear-active.svg)
	}

	.-inner.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-inner-active.svg)
	}

	.-goods.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-goods-active.svg)
	}

	.-baby.is-active .l-navigation_iconInner {
		background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/icon-baby-active.svg)
	}