$fontFam_uqReg: UniqloProRegular,
'Uniqlo Pro Regular',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$fontFam_uqBold: UniqloProBold,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$fontFam_hel: 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

// @import '_icons';
// New Edits


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	40% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

.c-contentsCard {
	opacity: 0;
}

.product-fadeIn {
	animation: fadeIn .55s forwards;
}



// Hero

.o-hero{
    z-index: 2;
}
.o-hero_title{
    left: auto;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.o-hero-lead {
	padding: 13.33333vw 4%;
	background: hsla(0, 0%, 100%, .6);
	text-align: center;
	font-size: 14px;
    line-height: 1.9;
    z-index: 2;
    position: relative;
}

@include bp(sm) {
	.o-hero-lead {
		padding: 3.75vw 0;
		font-size: 1.35vw;
	}
}


.hp-hero-container{
    position: relative;
    width: 100%;
    .hp-bg-hero{
        // &:before {
			content: '';
			display: block;
			width: 100%;
			// height: 0;
			// padding-top: 150.93333%;
			background: no-repeat url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/masterpiece-banner_sp.jpg) 50% 0/cover;
			position: fixed;
			left: 0;
			right: 0;
            z-index: 1;
            min-height: 500px; 
            height: 100vh;
            top: 115px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
			max-width: var(--contents-width-container);
			margin: 0 auto;
        
		// }

		@include bp(sm) {
			// &:before {
                height: auto;
				padding-top: 40%;
				background-image: url(https://image.uniqlo.com//UQ/ST3/us/imagesother/featurepages/HighQuality/masterpiece-banner_pc.jpg);
			    top: 280px;
                
			// }
		}
    }
}

// Home Tiles
.c-contentsCard_inner {
	padding-top: 2.2vw;
}

.c-contentsCard_title {
    line-height: 1.2;
    font-weight: 400;
}

.-inCard .c-label_item.-name {
	line-height: 1.2;
}


// Product Page
.c-shoulderSection_content {
	max-width: var(--contents-width-inner);
    margin: 0 auto;
    background: #f4f4f4;
    background: var(--color-gray050);
    padding: 20px;
}





.-masterpiece{
    background-color: var(--color-gray050)
}

.product-container{
    background-color: #fff;
    padding: 50px 0;
}


.img-horizontal{
    // display: block;
    height: auto;
    width: 140px;


}

.l-navigation_head [data-sp-aspect-ratio="90:235"]:before {
	padding-top: 281.11111%;

	@include bp(sm){
		padding-top: 26.16279%
	}
}


.arrow-container{
	width: 85%;
	margin: 15px auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.arrow{
		// margin: 0 auto;
		margin: 15px 35%;
		
	}

	.long-arrow-left {
		display: block;
		
		width: 8px;
		height: 8px;
		border-top: 2px solid #000;
        border-left: 2px solid #000;
        transition: .5s;
    }


	.long-arrow-right {
		transform: rotate(135deg);
	}

	.long-arrow-left {
		transform: rotate(-45deg);
	}

	.long-arrow-left::after {
		content: "";
		display: block;
		width: 2px;
		height: 45px;
		background-color: black;
		transform: rotate(-45deg) translate(15px, 4px);
		left: 0;
		top: 0;
	}
}


.c-topPageButton {

	.u-imgAdjustBox_inner {
		display: block;

		img {
			margin-bottom: 15px;
		}

		p {
			font-family: $fontFam_uqReg;
		}
	}

    [data-aspect-ratio="322:119"]:before{
        padding-top: 45%;
    }

    &:hover .long-arrow-left{ 
		margin-left: 20px;
    }


}